<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<h2>What's your question to the trainer</h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Type your question here">
  <input type="submit">
</form>
